version: "3"
services:
  db:
    image: mysql:9
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: apppasswd
    ports:
      - 3306:3306

  phpmyadmin:
    image: phpmyadmin:5
    depends_on:
      - db
    restart: always
    ports:
      - 8080:80
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: apppasswd
